<!DOCTYPE html>

<html>

<head>
    <title>Example 09.08 - Orbit controls</title>
    <script src="../libs/three.min.js"></script>
    <script src="../libs/jquery-1.9.0.js"></script>
    <script src="../libs/stats.js"></script>
    <script src="../libs/dat.gui.js"></script>
    <script src="../libs/OrbitControls.js"></script>
    <script src="../libs/Projector.js"></script>
    <style>
        body {
            /* set margin to 0 and overflow to hidden, to go fullscreen */
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>

    <div id="Stats-output">
    </div>
    <!-- Div which will hold the Output -->
    <div id="WebGL-output">
    </div>

    <!-- Javascript code that runs our Three.js examples -->
    <script type="text/javascript">
       
        var purple = 0xC390D4
        var green = 0x009e60
        var blue = 0x0051ba
        var orange = 0xDB860F
        var yellow = 0xF2FF00
        var white = 0xFFFFFF
        var counter1 = 0;
        var counter2 = 0;
        var counter3 = 0;
 
        var clicked = false;

        var controls = new function () {
            var self = this;
            this.aClockwiseIn = false;
            this.aCounterClockwiseIn = false;
            this.aTurnClockwise = function () {
                self.aCounterClockwiseIn = false;
                self.aClockwiseIn = !self.aClockwiseIn;
            };
            this.aTurnCounterClockwise = function () {
                self.aClockwiseIn = false;
                self.aCounterClockwiseIn = !self.aCounterClockwiseIn;
            };
            this.bClockwiseIn = false;
            this.bCounterClockwiseIn = false;
            this.bTurnClockwise = function () {
                self.bCounterClockwiseIn = false;
                self.bClockwiseIn = !self.bClockwiseIn;
            };
            this.bTurnCounterClockwise = function () {
                self.bClockwiseIn = false;
                self.bCounterClockwiseIn = !self.bCounterClockwiseIn;
            };
            //
            this.cClockwiseIn = false;
            this.cCounterClockwiseIn = false;
            this.cTurnClockwise = function () {
                self.cCounterClockwiseIn = false;
                self.cClockwiseIn = !self.cClockwiseIn;
            };
            this.cTurnCounterClockwise = function () {
                self.cClockwiseIn = false;
                self.cCounterClockwiseIn = !self.cCounterClockwiseIn;
            };
            //
            this.changeOrientation = false;
            this.horizontal = false;
            this.vertical = true;
            this.turnHorizontal = function () {
                self.horizontal = true;
                self.vertical = false;
                self.changeOrientation = true;
            }
            this.turnVertical = function () {
                self.horizontal = false;
                self.vertical = true;
                self.changeOrientation = true;
            }
            

        }

    // once everything is loaded, we run our Three.js stuff.
        function init() {
            projector = new THREE.Projector();
            mouseVector = new THREE.Vector3();
           

        var stats = initStats();
       

        var gui = new dat.GUI();
        var aSideFolder = gui.addFolder("A Side");
        aSideFolder.add(controls, 'aTurnClockwise');
        aSideFolder.add(controls, 'aTurnCounterClockwise');
        var bSideFolder = gui.addFolder("B Side");
        bSideFolder.add(controls, 'bTurnClockwise');
        bSideFolder.add(controls, 'bTurnCounterClockwise');
        var cSideFolder = gui.addFolder("C Side");
        cSideFolder.add(controls, 'cTurnClockwise');
        cSideFolder.add(controls, 'cTurnCounterClockwise');
        gui.add(controls, 'turnHorizontal');
        gui.add(controls, 'turnVertical');
      

        // create a scene, that will hold all our elements such as objects, cameras and lights.
        var scene = new THREE.Scene();

        // create a camera, which defines where we're looking at.
        var camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000);

        // create a render and set the size
        var webGLRenderer = new THREE.WebGLRenderer();
       // webGLRenderer.setClearColor(new THREE.Color(0x000, 1.0));
        webGLRenderer.setClearColor(0xEEEEEE);
        webGLRenderer.setSize(window.innerWidth, window.innerHeight);
        webGLRenderer.shadowMapEnabled = true;

        //make projector
        projector = new THREE.Projector();

            //register a listener on the click event for the canvas
        document.addEventListener('mousedown', onDocumentMouseDown, false);


        function getClosest(intersects, intersectsSide2, intersectsSide3) {
            var distances = []
            if (intersects.length > 0 && !controls.aClockwiseIn && !controls.aCounterClockwiseIn) {
                distances.push({ name: "intersects", distance: intersects[0].distance });
            }
            if (intersectsSide2.length > 0 && !controls.bClockwiseIn && !controls.bCounterClockwiseIn) {
                distances.push({ name: "intersectsSide2", distance: intersectsSide2[0].distance });
            }
            if (intersectsSide3.length > 0 && !controls.cClockwiseIn && !controls.cCounterClockwiseIn) {
                distances.push({ name: "intersectsSide3", distance: intersectsSide3[0].distance });
            }
          
            var closest = "none";
            if (distances.length > 0) {
                distances.sort(function (a, b) {
                    return parseFloat(a.distance) - parseFloat(b.distance);
                });
                closest = distances[0].name
            }
            return closest;

        }

            //mousedown function
        function onDocumentMouseDown(event) {

            if (controls.changeOrientation) {
                //THREE.SceneUtils.detach(side1, scene, totalCube);
               // THREE.SceneUtils.detach(side2, scene, totalCube);
                // THREE.SceneUtils.detach(side3, scene, totalCube);

                alert('changin');
                
                var cubes = [];

                for (var i = 0; i < side1.children.length; i++) {
                    cubes.push(side1.children[i]);
                    THREE.SceneUtils.detach(side1.children[i], side1, scene);
                }


                for (var i = 0; i < side2.children.length; i++) {
                    cubes.push(side2.children[i]);
                    THREE.SceneUtils.detach(side2.children[i], side2, scene);
                }

                for (var i = 0; i < side3.children.length; i++) {
                    cubes.push(side3.children[i]);
                    THREE.SceneUtils.detach(side3.children[i], side3, scene);
                }

                for (var i = 0; i < cubes.length; i++) {
                    var mycube = cubes[i];

                    if (controls.vertical) {
                        if (mycube.position.z == -3) {
                            THREE.SceneUtils.attach(mycube, scene, side1);
                        }
                        if (mycube.position.z == 0) {
                            THREE.SceneUtils.attach(mycube, scene, side2);
                        }
                        if (mycube.position.z == 3) {
                            THREE.SceneUtils.attach(mycube, scene, side3);
                        }
                    } else {


                        if (mycube.position.x == -3) {
                            THREE.SceneUtils.attach(mycube, scene, side1);
                        }
                        if (mycube.position.x == 0) {
                            THREE.SceneUtils.attach(mycube, scene, side2);
                        }
                        if (mycube.position.x == 3) {
                            THREE.SceneUtils.attach(mycube, scene, side3);
                        }
                    }
                }

               

                controls.changeOrientation = false;
                return;
            }
           // console.log('click');
            //create a vector from where the person clicked
            var vector = new THREE.Vector3((event.clientX / window.innerWidth) * 2 - 1, -(event.clientY / window.innerHeight) * 2 + 1, 0.5);
            vector = vector.unproject(camera); //unproject the vector from 2D into 3D spacre
            //Once we have the point in 3D space representing the mouse's location, we draw a line to it using the Raycaster
            var raycaster = new THREE.Raycaster(camera.position, vector.sub(camera.position).normalize());
            var intersects = raycaster.intersectObject(side1, true);
            var intersectsSide2 = raycaster.intersectObject(side2, true);
            var intersectsSide3 = raycaster.intersectObject(side3, true);
            var closestSide = getClosest(intersects, intersectsSide2, intersectsSide3);
            console.log('closestSide' + closestSide);
            switch (closestSide) {
                case 'intersects':
                    switch (event.which) {
                        case 1: //left mouse click
                            controls.aClockwiseIn = !controls.aClockwiseIn;
                            break;
                        case 3: // right mouse click
                            controls.aCounterClockwiseIn = !controls.aCounterClockwiseIn;
                            break;
                    }
                    break;
                case 'intersectsSide2':
                    switch (event.which) {
                        case 1: //left mouse click
                            controls.bClockwiseIn = !controls.bClockwiseIn;
                            break;
                        case 3: // right mouse click
                            controls.bCounterClockwiseIn = !controls.bCounterClockwiseIn;
                            break;
                    }
                    break;
                case 'intersectsSide3':
                    switch (event.which) {
                        case 1: //left mouse click
                            controls.cClockwiseIn = !controls.cClockwiseIn;
                            break;
                        case 3: // right mouse click
                            controls.cCounterClockwiseIn = !controls.cCounterClockwiseIn;
                            break;
                    }
                    break;

            }
        }
        

        // position and point the camera to the center of the scene
        camera.position.x = -20;
        camera.position.y = 30;
        camera.position.z = 40;
        camera.lookAt(new THREE.Vector3(00, 0, 0));

        var orbitControls = new THREE.OrbitControls(camera);
        orbitControls.autoRotate = false;
        var clock = new THREE.Clock();

        var ambiLight = new THREE.AmbientLight(0x111111);
        scene.add(ambiLight);
        var spotLight = new THREE.DirectionalLight(0xffffff);
        spotLight.position.set(-20, 30, 40);
        spotLight.intensity = 1.5;
        scene.add(spotLight);

        // add the output of the renderer to the html element
        document.getElementById("WebGL-output").appendChild(webGLRenderer.domElement);

        
        // add all the rubik cube elements
        var gpboyw = [];
        gpboyw.push(new THREE.MeshBasicMaterial({ color: green }));
        gpboyw.push(new THREE.MeshBasicMaterial({ color: purple }));
        gpboyw.push(new THREE.MeshBasicMaterial({ color: blue }));
        gpboyw.push(new THREE.MeshBasicMaterial({ color: orange }));
        gpboyw.push(new THREE.MeshBasicMaterial({ color: yellow }));
        gpboyw.push(new THREE.MeshBasicMaterial({ color: white }));

        totalCube = new THREE.Object3D();
        side1 = new THREE.Object3D();
        side2 = new THREE.Object3D();
        side3 = new THREE.Object3D();
        side1h = new THREE.Object3D();
       

        for (var x = 0; x < 3; x++) {
            for (var y = 0; y < 3; y++) {
                for (var z = 0; z < 3; z++) {
                    var faceMaterial = new THREE.MeshFaceMaterial(gpboyw);
                    var cubeGeom = new THREE.BoxGeometry(2.9, 2.9, 2.9);
                    var cube = new THREE.Mesh(cubeGeom, faceMaterial);
                    var xp = x * 3 - 3;
                    var yp = y * 3 - 3;
                    var zp = z * 3 - 3;
                    cube.position.set(xp, yp, zp)
                    cube.name = "cube"
                    totalCube.add(cube);
                    if (z === 0) {
                        side1.add(cube);
                    }
                    if (z === 1) {
                        side2.add(cube);
                    }
                    if (z === 2) {
                       side3.add(cube);
                    }
                

                    
                }
            }
        }
       
        totalCube.add(side1);
        totalCube.add(side2);
        totalCube.add(side3);
        scene.add(totalCube);
        

        render();

      

        function render() {
            stats.update();

            if (controls.aClockwiseIn) {
                if (controls.vertical) {
                    side1.rotation.z += Math.PI / 180;
                } else {
                    side1.rotation.x += Math.PI / 180;
                }
                counter1++;
                if (counter1 >= 90) {
                    counter1 = 0;
                    controls.aClockwiseIn = false
                }
            }
            if (controls.aCounterClockwiseIn) {
                if (controls.vertical) {
                    side1.rotation.z -= Math.PI / 180;
                } else {
                    side1.rotation.x -= Math.PI / 180;
                }
                counter1++;
   
                if (counter1 >= 90) { 
                    counter1 = 0;
                    controls.aCounterClockwiseIn = false
                }
            }

            if (controls.bClockwiseIn) {

                if (controls.vertical) {
                    side2.rotation.z += Math.PI / 180;
                } else {
                    side2.rotation.x += Math.PI / 180;
                }
                counter2++;
                if (counter2 >= 90) {
                    counter2 = 0;
                    controls.bClockwiseIn = false
                }
            }
            if (controls.bCounterClockwiseIn) {
                if (controls.vertical) {
                    side2.rotation.z -= Math.PI / 180;
                } else {
                    side2.rotation.x -= Math.PI / 180;
                }
                counter2++;

                if (counter2 >= 90) {
                    counter2 = 0;
                    controls.bCounterClockwiseIn = false
                }
            }

            if (controls.cClockwiseIn) {

                if (controls.vertical) {
                    side3.rotation.z += Math.PI / 180;
                } else {
                    side3.rotation.x += Math.PI / 180;
                }
                counter3++;
                if (counter3 >= 90) {
                    counter3 = 0;
                    controls.cClockwiseIn = false
                }
            }
            if (controls.cCounterClockwiseIn) {
                if (controls.vertical) {
                    side1.rotation.z -= Math.PI / 180;
                } else {
                    side1.rotation.x -= Math.PI / 180;
                }
                counter3++;

                if (counter3 >= 90) {
                    counter3 = 0;
                    controls.cCounterClockwiseIn = false
                }
            }
            

        
            var delta = clock.getDelta();
            orbitControls.update(delta);

            

            // render using requestAnimationFrame
            requestAnimationFrame(render);
            webGLRenderer.render(scene, camera);
        }
        

        
       

        function initStats() {

            var stats = new Stats();
            stats.setMode(0); // 0: fps, 1: ms

            // Align top-left
            stats.domElement.style.position = 'absolute';
            stats.domElement.style.left = '0px';
            stats.domElement.style.top = '0px';

            document.getElementById("Stats-output").appendChild(stats.domElement);

            return stats;
        }
    }
        window.onload = init;
        $("#WebGL-output").click(function () {
            clicked = true;
        });
    </script>
</body>
</html>
